@import 'colors';
@import 'forms';

@import 'bourbon';
@import 'neat';

@import 'components/index';

html {
  font-size: 16pt;
}

body {
  color: $primary;
  background-color: $secondary;
  font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: $link-primary;

  &:visited {
    color: $link-visited;
    text-decoration: none;
  }
}

#container {
  @include outer-container(100%);
}

button {
  color: $secondary;
  background-color: $primary;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  border: 0;
}
