@import 'colors';

@import 'bourbon';
@import 'neat';

@import 'components/index';

body {
  color: $primary;
  background-color: $secondary;
  font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: $link-primary;

  &:visited {
    color: $link-visited;
    text-decoration: none;
  }
}

#container {
  @include outer-container(100%);
}
