html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

nav h1 {
  font-size: 4em;
  margin: 0; }
  nav h1 a {
    text-decoration: none; }

nav ul {
  margin: 0;
  padding: 0; }

nav li {
  list-style-type: none; }

body {
  color: #7E1559;
  background-color: #ACD04C;
  font-family: 'Helvetica', 'Arial', sans-serif; }

a {
  color: #FFF7A2; }
  a:visited {
    color: #ffee3c;
    text-decoration: none; }

#container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #container::after {
    clear: both;
    content: "";
    display: table; }
